
# --- Spring Profile ---
SPRING_PROFILES_ACTIVE=prod


# --- 스토리지 타입 설정 ---
STORAGE_TYPE=local

#
STORAGE_LOCAL_ROOT_PATH=./discodeit/storage


# --- Database Settings ---
# 'local' 프로필 기본값 (Docker Compose와 일치)
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/discodeit
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
# 'dev' 프로필에서는 실제 배포된 DB(예: AWS RDS) 주소로 이 변수들을 덮어써야 합니다.


# --- Local Storage ---
# (local 기본값: ./uploads/)
FILE_UPLOAD_DIR=./uploads/


# --- AWS Credentials ---
AWS_CREDENTIALS_ACCESS_KEY=YOUR_AWS_ACCESS_KEY
AWS_CREDENTIALS_SECRET_KEY=YOUR_AWS_SECRET_KEY
AWS_REGION_STATIC=ap-northeast-2

# --- AWS S3 ---
AWS_S3_BUCKET=YOUR_S3_BUCKET_NAME
AWS_S3_PRESIGNED_URL_EXPIRATION=600