# 앱 이름과 버전 전달
PROJECT_NAME=discodeit
PROJECT_VERSION=1.2-M8

SPRING_PROFILES_ACTIVE=

# localhost or db (Docker Compose 서비스 이름)
# 도커 서비스끼리 내부 통신하므로 5432:5432에서 오른쪽 5432를 사용
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
STORAGE_LOCAL_ROOT_PATH=

# aws
STORAGE_TYPE=
AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_S3_PRESIGNED_URL_EXPIRATION=
